
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
    padding: 20px;
}


header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2rem;
    color: #2c3e50;
}


.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

/* ====== Formulario ====== */
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form h2 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #2c3e50;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #34495e;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 0.95rem;
}

input:focus, select:focus {
    border-color: #2980b9;
}

/* Botones */
button {
    background: #2980b9;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background: #1c5d82;
}


.table-container {
    flex: 1;
    min-width: 500px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

thead {
    background: #2980b9;
    color: white;
    text-align: center;
}

th, td {
    padding: 12px 15px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f2f6fa;
}

tbody tr:hover {
    background: #dbe9f4;
}


.success {
    background: #474747;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.error {
    background: #620c03;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}
