<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/css/stile.css" />
    <title>Registro Alumno</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
  </head>

  <body>
    <div class="container">
      <div class="left">
        <img src="static/sources/itislogo.png" alt="Logo ITS" class="Logo" />
        <h1>Instituto Tecnológico de Saltillo</h1>
        <h2>
          Laboratorio de <br />
          Electrónica / Analógica
        </h2>
      </div>

      <div class="right">
        <div class="text">Registra tus datos para continuar</div>
        <h2>Registro Alumnos</h2>
        
        <form method="POST">
          <input type="text" name="nombre" placeholder="Nombre..." required />
          <input type="text" name="numero_control" placeholder="Número de control..." required />
          <input type="email" name="correo" placeholder="Correo Institucional..." required />
          <select id="carrera" name="carrera" required>
            <option value="">-- Selecciona tu carrera --</option>
            <option value="sistemas">Sistemas</option>
            <option value="industrial">Industrial</option>
            <option value="gestion">Gestión</option>
            <option value="materiales">Materiales</option>
            <option value="electronica">Electrónica</option>
            <option value="mecatronica">Mecatrónica</option>
            <option value="electrica">Eléctrica</option>
            <option value="mecanica">Mecánica</option>
          </select>

          <select id="semestre" name="semestre" required>
            <option value="">-- Selecciona tu semestre --</option>
            <option value="1">1.Primero</option>
            <option value="2">2.Segundo</option>
            <option value="3">3.Tercero</option>
            <option value="4">4.Cuarto</option>
            <option value="5">5.Quinto</option>
            <option value="6">6.Sexto</option>
            <option value="7">7.Séptimo</option>
            <option value="8">8.Octavo</option>
            <option value="9">9.Noveno</option>
            <option value="10">10.Decimo</option>
            <option value="11">11.Undecimo</option>
            <option value="12">12.Duodecimo</option>
            <option value="13">13.Decimotercero</option>
          </select>
          <button type="submit">Registrarse</button>
        </form>
      </div>
    </div>
  </body>
</html>
