<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio del Personal del Laboratorio</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stile.css') }}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <!-- Sección izquierda -->
      <div class="left">
        <img src="{{ url_for('static', filename='sources/itislogo.png') }}" alt="Logo ITS" class="Logo" />
        <h1>Instituto Tecnológico de Saltillo</h1>
        <h2>
          Laboratorio de <br />
          Electrónica / Analógica
        </h2>
      </div>

      <!-- Sección derecha (login) -->
      <div class="right">
        <div class="text">Inicia sesión para continuar</div>
        <h2>Registro Personal</h2>

{% with msgs = get_flashed_messages() %}
  {% if msgs %}
    <div class="alert">
      {% for m in msgs %}
        <p>{{ m }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

        <!-- Formulario de login -->
        <form method="POST">
          <input type="text" name="usuario" placeholder="Usuario..." maxlength="50" 
              oninput="this.value = this.value.replace(/[0-9]/g, '')">
          <input type="password" name="contrasena" placeholder="Contraseña..." maxlength="50"  />
          <button type="submit">Iniciar sesión</button>
        </form>
        
        {% if mensaje %}
          <p style="color: yellow; font-weight: bold;">{{ mensaje }}</p>
        {% endif %}
        
      </div>
    </div>
  </body>
</html>
