<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Administrador</title>
    <link rel="stylesheet" href="/static/css/stile_inadmin.css">
</head>
<body>
    
    <header>
        <div class="menu container">
            <a href="#" class="logo">Instituto Tecnológico de Saltillo</a>
            <input type="text" id="menu">
            <label for="menu">
                <img src="/static/sources/menu.png" class="menu-icono" alt="">
                
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Prestamos</a></li>
                    <li><a href="#">Inventario</a></li>
                    <li><a href="#">Generar reportes</a></li>
                    <li><a href="#">Gestión de auxiliares</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <div class="content">
                <h1>Laboratorio de Electrónica / Analógica</h1>
                <p>Bienvenido Auxiliar ⚙️</p>
                <a href="#" class="btn-1">Contacto</a>
            </div>
            <img class="banner" src="/static/sources/imagen-baner.png" alt="">
            </div>
    </header>
    <main class="info container">
        <div class="box">
            <img src="/static/sources/prestamos.png" alt="">
            <h3>Prestamos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Error quae, voluptatibus rem officia distinctio soluta 
            </p>
            <a href="#" class="btn-1">IR</a>
        </div>
        <div class="box">
            <img src="/static/sources/inventario.png" alt="">
            <h3>Inventario</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Error quae, voluptatibus rem officia distinctio soluta 
            </p>
            <a href="#" class="btn-1">IR</a>
        </div>
    </main>
</body>
</html>